[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
igitt = {git = "https://gitlab.com/gitmate/open-source/IGitt.git"}

[dev-packages]

[requires]
python_version = "3.6"
